// breakpoint
$smallBreakpoint: 600px;
$largeBreakpoint: 1024px;
// colors
$dark: rgb(11, 13, 23);
$light: rgb(208, 214, 249);
$white: rgb(255, 255, 255);
// mixins
@mixin flex($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: center;
}

@mixin main() {
    text-align: center;
    margin: 30px auto 0 auto;
    max-width: 1440px;
}

@mixin page($image, $height) {
    background: url($image) no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: $height;
}

@mixin pageHeader {
    p {
        font-family: Barlow Condensed;
        font-size: 16px;
        letter-spacing: 2.7px;
        text-transform: uppercase;
        color: #ffffff;
        span {
            font-weight: bold;
            mix-blend-mode: normal;
            opacity: 0.25;
            margin-right: 10px;
        }
    }
}

@mixin mainInfoHeading($size, $margin) {
    font-family: Bellefair;
    font-size: $size;
    color: #ffffff;
    text-transform: uppercase;
    margin: $margin;
}

@mixin mainInfoParagraph {
    font-family: Barlow;
    font-size: 15px;
    line-height: 25px;
    color: #d0d6f9;
    margin: 0 auto;
}

@mixin Animate {
    &.animate {
        animation: fadeIn 0.5s;
    }
}