@import "./Var&Mixins";
@import "./Navbar";
@import "./Home";
@import "./Destination";
@import "./Crew";
@import "./Technology";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}